includes:
	- %rootDir%/../../larastan/larastan/extension.neon
	- %rootDir%/../../phpstan/phpstan-deprecation-rules/rules.neon

parameters:
	level: 5
	customRulesetUsed: true
	noUnnecessaryCollectionCall: true
	noUnnecessaryCollectionCallOnly: []
	noUnnecessaryCollectionCallExcept: []
	checkModelProperties: false
	reportMagicMethods: false
	reportMagicProperties: false
	checkFunctionNameCase: false
	checkPhpDocMethodSignatures: false
	checkExplicitMixedMissingReturn: false
	checkDynamicProperties: false
	checkPhpDocMissingReturn: false
	checkMaybeUndefinedVariables: true
	cliArgumentsVariablesRegistered: true
	checkNullables: false
	checkThisOnly: false
	checkUnionTypes: true
	checkExplicitMixed: false
	checkMissingOverrideMethodAttribute: false
	stubFiles:
		- stubs/Request.stub

rules:
	- Enlightn\Enlightn\PHPStan\FillableForeignKeyModelRule
	- Enlightn\Enlightn\PHPStan\MassAssignmentModelInstanceRule
	- Enlightn\Enlightn\PHPStan\MassAssignmentModelStaticRule
	- Enlightn\Enlightn\PHPStan\MassAssignmentBuilderInstanceRule
	- PHPStan\Rules\Arrays\DeadForeachRule
	- PHPStan\Rules\Arrays\IterableInForeachRule
	- PHPStan\Rules\Arrays\OffsetAccessAssignmentRule
	- PHPStan\Rules\Arrays\OffsetAccessAssignOpRule
	- PHPStan\Rules\Arrays\OffsetAccessValueAssignmentRule
	- PHPStan\Rules\DeadCode\UnreachableStatementRule
	- PHPStan\Rules\DeadCode\UnusedPrivateConstantRule
	- PHPStan\Rules\DeadCode\UnusedPrivateMethodRule
	- PHPStan\Rules\Functions\CallToFunctionParametersRule
	- PHPStan\Rules\Functions\PrintfParametersRule
	- PHPStan\Rules\Functions\ReturnTypeRule
	- PHPStan\Rules\Methods\CallMethodsRule
	- PHPStan\Rules\Methods\CallStaticMethodsRule
	- PHPStan\Rules\Methods\ReturnTypeRule
	- PHPStan\Rules\Variables\UnsetRule

services:
    -
        class: PHPStan\Rules\Classes\ClassConstantRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkNonStringableDynamicAccess: false
    -
        class: PHPStan\Rules\Functions\CallToNonExistentFunctionRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%
            discoveringSymbolsTip: true
    -
        class: PHPStan\Rules\Methods\OverridingMethodRule
        arguments:
            checkPhpDocMethodSignatures: %checkPhpDocMethodSignatures%
            checkMissingOverrideMethodAttribute: %checkMissingOverrideMethodAttribute%
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\DeadCode\NoopRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Missing\MissingReturnRule
        arguments:
            checkExplicitMixedMissingReturn: %checkExplicitMixedMissingReturn%
            checkPhpDocMissingReturn: %checkPhpDocMissingReturn%
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Namespaces\ExistingNamesInUseRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%
            discoveringSymbolsTip: true
    -
        class: PHPStan\Rules\Namespaces\ExistingNamesInGroupUseRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%
            discoveringSymbolsTip: true
    -
        class: PHPStan\Rules\Properties\AccessPropertiesRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Variables\DefinedVariableRule
        arguments:
            cliArgumentsVariablesRegistered: %cliArgumentsVariablesRegistered%
            checkMaybeUndefinedVariables: %checkMaybeUndefinedVariables%
        tags:
            - phpstan.rules.rule
    -
        class: Enlightn\Enlightn\PHPStan\RequestDataTypeNodeResolverExtension
        tags:
            - phpstan.phpDoc.typeNodeResolverExtension
    -
        class: Enlightn\Enlightn\PHPStan\RequestArrayDataTypeNodeResolverExtension
        tags:
            - phpstan.phpDoc.typeNodeResolverExtension
